@import url("rootbootstrapscss_functions");
@import url("rootbootstrapscss_variables");
@import url("rootbootstrapscss_mixins");
@import url("rootbootstrapscss_root");
@import url("rootbootstrapscss_reboot");
@import url("rootbootstrapscss_type");
@import url("rootbootstrapscss_images");
@import url("rootbootstrapscss_code");
@import url("rootbootstrapscss_grid");
@import url("rootbootstrapscss_tables");
@import url("rootbootstrapscss_forms");
@import url("rootbootstrapscss_buttons");
@import url("rootbootstrapscss_transitions");
@import url("rootbootstrapscss_dropdown");
@import url("rootbootstrapscss_button-group");
@import url("rootbootstrapscss_input-group");
@import url("rootbootstrapscss_custom-forms");
@import url("rootbootstrapscss_nav");
@import url("rootbootstrapscss_navbar");
@import url("rootbootstrapscss_card");
@import url("rootbootstrapscss_breadcrumb");
@import url("rootbootstrapscss_pagination");
@import url("rootbootstrapscss_badge");
@import url("rootbootstrapscss_jumbotron");
@import url("rootbootstrapscss_alert");
@import url("rootbootstrapscss_progress");
@import url("rootbootstrapscss_media");
@import url("rootbootstrapscss_list-group");
@import url("rootbootstrapscss_close");
@import url("rootbootstrapscss_toasts");
@import url("rootbootstrapscss_modal");
@import url("rootbootstrapscss_tooltip");
@import url("rootbootstrapscss_popover");
@import url("rootbootstrapscss_carousel");
@import url("rootbootstrapscss_spinners");
@import url("rootbootstrapscss_print");
@import url("rootbootstrapscss_utilities");
body {
  background: #020024;
  font-family: "Space Mono", sans-serif;
  color: white; }

.cabecera__bar--logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  position: relative;
  margin-right: 2rem; }
  .cabecera__bar--logo:hover {
    animation-name: animacion_logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

@keyframes animacion_logo {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

.description-carrusel {
  font-size: 13px; }

.footer_general {
  text-align: center;
  margin-top: 1rem; }

.contenedor__iframe {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin-top: 1rem; }
  .contenedor__iframe--ajustable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.contenido {
  display: inline-block;
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
  border-radius: 30px;
  opacity: 1;
  text-align: center;
  background: linear-gradient(1deg, #020024 0%, #06cea6 35%, #00d4ff 100%);
  color: white; }

.fa-whatsapp-square {
  position: fixed;
  left: 1rem;
  z-index: 1000;
  margin-top: 10rem;
  font-size: 70px;
  color: #00BB2D; }

.whatsappyn {
  position: fixed;
  left: 1rem;
  z-index: 1000;
  margin-top: 35rem;
  font-size: 70px;
  color: #00BB2D; }

@media only screen and (min-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 25% 25%;
    gap: 1rem;
    align-items: center;
    text-align: justify;
    margin-top: 1rem;
    background: linear-gradient(1deg, #020024 0%, #06cea6 35%, #00d4ff 100%);
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 30px;
    opacity: 1; } }

@media only screen and (max-width: 767px) {
  .container {
    display: block;
    align-items: center;
    text-align: justify;
    margin-top: 1rem;
    background: linear-gradient(1deg, #020024 0%, #06cea6 35%, #00d4ff 100%);
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 30px;
    opacity: 1; } }

span img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  box-shadow: 0 0 10px black;
  margin-bottom: 1rem;
  border-radius: 10px; }

nav a:hover {
  transform: scale(1.4);
  max-width: 100%; }

.titulos_box {
  display: block;
  text-align: center;
  justify-content: center;
  background: linear-gradient(1deg, #020024 0%, #06cea6 35%, #00d4ff 100%);
  color: white;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
  border-radius: 30px;
  opacity: 1; }

.lista_index {
  position: relative;
  top: 40%; }

.row {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  row-gap: 1.5rem; }

@media only screen and (max-width: 767px) {
  .row {
    display: block;
    overflow: hidden;
    padding-right: 2rem;
    align-items: center;
    text-align: justify; } }

.img-fluid {
  box-shadow: 0 0 10px black;
  border-radius: 10px; }

.nav-link {
  margin-left: 2rem; }

.fa-facebook {
  font-size: 70px; }

.fa-instagram {
  font-size: 70px;
  color: #E1306C; }

@media only screen and (max-width: 767px) {
  .fa-whatsapp-square {
    position: fixed;
    left: 1rem;
    z-index: 1000;
    margin-top: 25rem;
    font-size: 50px;
    color: #00BB2D; } }

@media only screen and (max-width: 767px) {
  .whatsappyn {
    position: fixed;
    left: 1rem;
    z-index: 1000;
    margin-top: 30rem;
    font-size: 50px;
    color: #00BB2D; } }

.animacion_mueble:hover {
  animation-name: animacion_muebleb;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes animacion_muebleb {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

.animacion_remodelacion:hover {
  animation-name: animacion_remodelacionb;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes animacion_remodelacionb {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

.animacion_cableado:hover {
  animation-name: animacion_cableadob;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes animacion_cableadob {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

.animacion_informatica:hover {
  animation-name: animacion_informaticab;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes animacion_informaticab {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }
