$base-color: rgb(2, 0, 36);
$base-color-contenedores: linear-gradient(
	1deg,
	rgba(2, 0, 36, 1) 0%,
	rgba(6, 206, 166, 1) 35%,
	rgba(0, 212, 255, 1) 100%
);
$box-comun: 0 0 10px black;
$border-general: 30px;
$border-linea: 2px solid black;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
body {
	background: $base-color;
	font-family: "Space Mono", sans-serif;
	color: white;
}

.cabecera__bar--logo {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	box-shadow: $box-comun;
	position: relative;
	margin-right: 2rem;
	&:hover {
		animation-name: animacion_logo;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
}
@keyframes animacion_logo {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
.description-carrusel {
	font-size: 13px;
}
.footer_general {
	text-align: center;
	margin-top: 1rem;
}
/* .contenedor__iframe {
	position: relative;
	overflow: hidden; 
	 padding-top: 56.25%;
	margin-top: 1rem;
	&--ajustable {
		position: absolute;
		top: 0;
		margin-left: 1rem;
		margin-right: 1rem;
		width: 100vh;
		height: 100vh;
		border-radius: $border-general;
	}
} */
/*.contenido {
	display: inline-block;
	margin-top: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 3rem;
	padding-right: 3rem;
	border: $border-linea;
	box-shadow: $box-comun;
	border-radius: $border-general;
	opacity: 1;
	text-align: center;
	background: $base-color-contenedores;
	color: white;
}*/
.fa-whatsapp-square {
	position: fixed;
	left: 1rem;
	z-index: 1000;
	margin-top: 10rem;
	font-size: 70px;
	color: #00bb2d;
}
.whatsappyn {
	position: fixed;
	left: 1rem;
	z-index: 1000;
	margin-top: 35rem;
	font-size: 70px;
	color: #00bb2d;
}
/* @media only screen and (min-width: 767px) {
	.container {
		display: grid;
		grid-template-columns: 1fr 25% 25%;
		gap: 1rem;
		align-items: center;
		text-align: justify;
		margin-top: 1rem;
		background: $base-color-contenedores;
		color: white;
		border: $border-linea;
		box-shadow: $box-comun;
		border-radius: $border-general;
		opacity: 1;
	}
}
@media only screen and (max-width: 767px) {
	.container {
		display: block;
		align-items: center;
		text-align: justify;
		margin-top: 1rem;
		background: $base-color-contenedores;
		color: white;
		border: $border-linea;
		box-shadow: $box-comun;
		border-radius: $border-general;
		opacity: 1;
	}
} */
/* span img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	box-shadow: $box-comun;
	margin-bottom: 1rem;
	border-radius: 10px;
} */
.titulos_box {
	display: block;
	text-align: center;
	justify-content: center;
	background: $base-color-contenedores;
	color: white;
	border: $border-linea;
	box-shadow: $box-comun;
	border-radius: $border-general;
	opacity: 1;
}
.lista_index {
	position: relative;
	top: 25%;
}
.margin_row {
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 1rem;
	row-gap: 1.5rem;
}
/* @media only screen and (max-width: 767px) {
	.row {
		display: block;
		overflow: hidden;
		padding-right: 2rem;
		align-items: center;
		text-align: justify;
	}
} */
.img-fluid {
	box-shadow: $box-comun;
	border-radius: 10px;
}
.nav-link {
	margin-left: 2rem;
	color: white;
}
.fa-facebook {
	font-size: 70px;
}
.fa-instagram {
	font-size: 70px;
	color: #e1306c;
}
@media only screen and (max-width: 767px) {
	.fa-whatsapp-square {
		position: fixed;
		left: 1rem;
		z-index: 1000;
		margin-top: 25rem;
		font-size: 50px;
		color: #00bb2d;
	}
}
@media only screen and (max-width: 767px) {
	.whatsappyn {
		position: fixed;
		left: 1rem;
		z-index: 1000;
		margin-top: 30rem;
		font-size: 50px;
		color: #00bb2d;
	}
}
